@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Person of The Year</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

    <body>
        <header>
            <nav class="headerNav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About This App</a></li>
                    <li><a href="#">About The Developer</a></li>
                    <li><a href="#">Results</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1 class="Title">Person of The Year</h1>

            <form method="post">
                <label name="FromYear">From Year:</label>
                <input type="number" name="FromYear" placeholder="Enter Start Year" />

                <label name="ToYear">To Year:</label>
                <input type="number" name="ToYear" placeholder="Enter End Year" />


                <!----------------Button------------------------------------------>
                <button type="submit">Search</button>
            </form>
            
            


        </main>


        <footer>
          
            <ul class="footer">
                <li>DeltaV Code  401 Week 3</li>
                <li>Marie Antons</li>
                
            </ul>
        </footer>


    </body>

</html>