using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading.Tasks;
@model List<PersonOfTheYear.Models.TimePerson>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Person of The Year</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header>
        <nav class="headerNav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About This App</a></li>
                <li><a href="#">About The Developer</a></li>
                <li><a href="#">Results</a></li>
            </ul>
        </nav>
    </header>

    <main>
    </main>





</body>
</html>